.App {
  justify-content: center;
  background-color: #e3e1e6;
  min-height: 100vh;
  max-height: fit-content;
  width: 100%; 
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}