.App {
  background-color: #e3e1e6;
  min-height: 100vh;
  max-height: fit-content; 
}

.ur-mom {
  display: flex;
  justify-content: center;
}

.middle-content {
  width: 900px;
}


.food-form {
  width: 100%;
}