:root {
  --app-middle-color: #eee0cb;
  --app-side-color: #baa898;
}

.App {
  background-color: var(--app-side-color);
  min-height: 100vh;
  max-height: fit-content; 
}

.ur-mom {
  display: flex;
  justify-content: center;
}

.middle-content {
  min-height: 100vh;
  max-height: fit-content;
  padding: 10px;
  border-radius: 5px;
  background-color: var(--app-middle-color);
  box-shadow: inset 0 0 10px #000000;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.5);
  border-width: 3px;
  width: 900px;
}


.food-form {
  width: 100%;
}